.header{
    background-color: #3C517B;

    padding:10px;
    text-align: left;
}

.main_form{
    padding:20px
}

.header h1{
    color: white;
}

.header h3{
    color: white;
}

#button{
    background-color: #3C517B;
    padding: 10px;
    border-radius: 20px;
    color: white;
}